<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drummer Companion</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- <link rel="stylesheet" href="static/styles.css"> -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <div class="container">
      <h1 id="title">Drum Generator for Your Bass Track</h1>

      <div class="tabs">
        <button class="tab-button {% if active_tab == 'offline' %}active{% endif %}" onclick="openTab('offline-tab', this)">Offline Drum Accompaniment</button>
        <button class="tab-button {% if active_tab == 'realtime' %}active{% endif %}" onclick="openTab('realtime-tab', this)">Real-time Drum Accompaniment</button>
    </div>

    <div id="offline-tab" class="tab-content {% if active_tab == 'offline' %}active{% endif %}">
      <!-- <p class="subtitle">Upload a bass track MIDI file and get a drum track.</p>
      <p class="subtitle"> Make sure your bass track is in tempo 100 and rhythm 4/4.</p>
      <p class="subtitle"> If you get a empty midi file back, it means your input track</p>
      <p class="subtitle"> is not long enough. Minimum number of measures are 20 measures with beat resolution of 4</p> -->

      <p class="subtitle">xyoyoy Upload a bass track MIDI file and get a drum track.
      Make sure your bass track is in tempo 100 and rhythm 4/4.</p>

      <form method="post" action="/offline" enctype="multipart/form-data">

        <div class="file-input-container">
          <label for="file">Choose a file</label>
          <input type="file" name="file" id="file" class="inputfile" required>
        </div>
        <div class="checkbox-container">
          <input type="checkbox" id="assing-velocity" name="assing-velocity">
          <label for="inform-backend">Assign Velocity to Drum Track</label>
        </div>

        <input class="button" type="submit" name="submit" value="Submit">
      </form>
    </div>

    <div id="realtime-tab" class="tab-content  {% if active_tab == 'realtime' %}active{% endif %}">
      <h1>Real-time</h1>

      <form id="realtime-form">
        <div>
          <label for="midiin">Choose MIDI in port</label>
          <!-- <input type="text" name="midiin" id="midiin" required> -->
          <select name="midiin" id="midiin" required>
            {% for port in midi_ports %}
              <option value="{{ port }}">{{ port }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="midiin" >Choose MIDI out port</label>
          <select name="midiout" id="midiout"  required>
            {% for port in midi_ports %}
              <option value="{{ port }}">{{ port }}</option>
            {% endfor %}
          </select>
        </div>

        <p></p>
        
        <!-- <input type="submit" name="submit" value="Start"> -->

        <!-- <input type="submit" id="start-btn" name="submit" value="Start" onclick="toggleButtons()">
        <input type="submit" id="stop-btn" name="submit" value="Stop" onclick="toggleButtons()" disabled> -->
        

        <button class="button" type="button" id="start-btn" onclick="startRealTime()">Start</button>
        <button class="button" type="button" id="stop-btn" onclick="stopRealTime()" disabled>Stop</button>
 
      </form>
      <p id="message" class="message" style="display: none;"></p>

    </div>

  </div>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
